BOT_TOKEN=YOUR_BOT_TOKEN
SOUNDCLOUD_CLIENT_ID=YOUR_TOKEN
SOUNDCLOUD_CLIENT_SECRET=YOUR_SECRET
GENIUS_ACCESS_TOKEN=YOUR_TOKEN

TELEGRAM_LOCAL_API_URL=http://127.0.0.1:8081
TELEGRAM_LOCAL_MODE=true

TEMP_DIR=/root/bot/temp

YTDLP_MAX_WORKERS=2
YTDLP_CONCURRENT_FRAGMENTS=1
FFMPEG_THREADS=1

SAFE_MODE_2GB=true
LONG_VIDEO_MINUTES=40
SAFE_LONG_VIDEO_MAX_HEIGHT=1080

YT_DENO_PATH=/root/.deno/bin/deno
YT_VISITOR_DATA=

MAX_FILE_SIZE_MB=1950
TARGET_SIZE_MB=1900
